*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style-type: none;
}
body{
    background-color: aqua;
}
.topnav{
  background-color: aliceblue;
}
.topnav::after {
  content: "";
  display: table;
  clear: both;
}
/*Topnaav*/
.topnav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}


.leftcolumn {   
  float: left;
  width: 50%;
  background-color: rgb(182, 211, 115);
}

/* Right column */
.rightcolumn {
  float: left;
  width: 50%;
  background-color: #f1f1f1;
  padding-left: 20px;
}
  
  /* Clear floats after the columns */
  .row::after {
    content: "";
    display: table;
    clear: both;
  }


/*Footer*/
.footer {
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
  }